<div [class.small]="small"  *ngIf="!admin" [class.col_3]="!wide" style="float:left">

	<h5><a routerLink="/item/{{item.id}}">{{item.name}}</a>&nbsp;<span *ngIf="!small">({{getStockStatus(item)}})</span></h5>
	<h6>Price: {{item.price | currency}}</h6>

	<!-- Breadcrumbs -->
	<ul class="breadcrumbs" *ngIf="!small">
		<li><a routerLink="/">Home</a></li>
		<li><a routerLink="/doSearch">Shop</a></li>
		<li><a routerLink="/doSearch?query={{item.category}}">{{item.category}}</a></li>
		<li><a routerLink="/item/{{item.id}}">{{item.name}}</a></li>
	</ul>

	<img [src]="item.image" class="align-left col_6" [class.width100]="wide" [class.floatLeft]="wide">
	<p *ngIf="enableDescription">
		{{item.description}} Find more great items like this and more and Larry\'s emporium of wonderful goods. All products sold
		at Larry's emporium of wonderful goods are pure and safe to use/eat. Please come back and bring your family.

	</p>
		<button (click)="buy()" *ngIf="enableBuy">Add to Cart</button>
		<button (click)="remove()" *ngIf="enableRemove">Remove from Cart</button>
</div>


<div *ngIf="admin">
	<table cellspacing="0" cellpadding="0">

		<tr [class]="getStockStatus(item)" [class.golden]="item.sale" [class.even]="isEven">
			<td>
				<span *ngIf="!enableAdd">Number:
				<input placeholder="#" [value]="(index+1)+'. '" [disabled]="enableAdd">
				</span>
			</td>
			<td>				
				<input type="checkbox" [(ngModel)]="item.sale" /> On Sale?
			</td>
			<td>
				Name:
				<input placeholder="Name" [(ngModel)]="item.name">
			</td>
			<td>
				Category:
				<input placeholder="Category" [(ngModel)]="item.category">
			</td>
			<td>
				Price:
				<input placeholder="Price" [(ngModel)]="item.price">
			</td>
			<td>
				Quantity:
				<input placeholder="Count" [(ngModel)]="item.count">
			</td>
			<td>
				<button (click)="remove()">Remove</button>
			</td>
			<td>
				<button (click)="update()">Update</button>
			</td>
			<td >
				<button (click)="add()" *ngIf="enableAdd">add</button>
			</td>
		</tr>
		<tr>
			<td colspan="9">
				<textarea cols="100" style='width:100%' placeholder="Description" [(ngModel)]="item.description"></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="9">
				<input size="100" style='width:100%' placeholder="Image" [(ngModel)]="item.image">
			</td>
		</tr>
	</table>
</div>