<div>
  <button md-raised-button (click)="clearInventory()" value="Clear Inventory">Clear Inventory</button>
  <button md-raised-button (click)="clearStock()" value="Clear Stock">Clear Stock</button>
</div>

<div class="wide">
        <h3>New Item:</h3>
</div>
  <app-item [item]="create" [admin]="true" [enableAdd]="true" (onAdd)="add($event)"></app-item>

<div class="wide">
<h3>Inventory</h3>
</div>

<item-listing [admin]="true" [items]="stock" (onRemove)="removeFromStock($event)" (onBuy)="addToCart($event)" (onUpdate)="updateItem($event)"></item-listing>